<!DOCTYPE html>
<html lang="en" ng-app='app'>
  <head>
    <meta charset="UTF-8">
    <title>Social App</title>
    <link rel='stylesheet' type='text/css' href='/css/foundation.min.css'>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/scripts/angular.js'></script>
    <script src='/scripts/angular-route.js'></script>
    <script src='/scripts/app.js'></script>
  </head>
  <body ng-controller='ApplicationCtrl'>
    <site-header></site-header>

    <div class="row">
      <my-profile class='large-3 columns'></my-profile>
      <div ng-view class="large-6 columns"></div>
      <ads></ads>
    </div>

    <site-footer></site-footer>
  </body>
</html>
