<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-5 columns">
        <p>© Copyright no one at all. Go to town.</p>
      </div>
      <div class="large-7 columns">
        <ul class="inline-list right">
          <li><a href="/">Home</a></li>
          <li ng-if='currentUser'><a ng-click='logout()' href="#">Logout</a></li>
          <li ng-if='!currentUser'><a href="#/login">Login</a></li>
          <li ng-if='!currentUser'><a href="#/register">Register</a></li>
          <li><a href="/">About Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
